/*Common styling for button elements*/
.button {
    border-radius: 0px;
    border: 1px solid; 
}
/*theme stylings*/
/*light theme*/
.theme-light.button{
    background-color: var(--theme-light-main);
    color: var(--theme-light-white);
    border-color: black;
}

/*common styling for list elements*/
.theme-light.list {
    display: list-item; 
}
/*Common styling for submit buttons elements*/
.submit {
    border-radius: 0px;
    border: 1px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.submit{
    background-color: var(--theme-light-main);
    color: var(--theme-light-light);
    border-color: black;
}
/*Common styling for headings*/
.heading {
    
}
/*theme stylings*/
/*light theme*/
.theme-light.heading{
    color: var(--theme-light-dark-alt);
}
/*Common styling for paragraphs*/
.paragraph {
    background-color: var(--theme-light-light);
}
/*theme stylings*/
/*light theme*/
.theme-light.paragraph{
    color: var(--theme-light-dark-alt);
}
/*Common styling for labels*/
.label {

}
/*theme stylings*/
/*light theme*/
.theme-light.label{
    color: var(--theme-light-dark-alt);
}
/*Common styling for text inputs*/
.inputtext {
    border: 2px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.inputtext{
    background-color:  var(--theme-light-dark);
    border-color: var(--theme-light-main);
    color: var(--theme-light-main);
}
/*Common styling for number inputs*/
.inputnumber {
    border: 2px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.inputnumber{
    border-color: var(--theme-light-main);
    color: var(--theme-light-main);
}
/*Common styling for date inputs*/
.inputdate {
    border: 2px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.inputdate{
    border-color: var(--theme-light-main);
    color: var(--theme-light-main);
}
/*Common styling for checkboxes*/
.inputcheckbox {
    border-radius: 0px;
}
/*theme stylings*/
/*light theme*/
.theme-light.inputcheckbox{
    color: var(--theme-light-white);
}
.theme-light.inputcheckbox:checked{
    accent-color: var(--theme-light-main);
}
/*Common styling for radio buttons*/
.inputradio {
    border: 2px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.inputradio{
    color: var(--theme-light-white);
}
.theme-light.inputradio:checked{
    accent-color: var(--theme-light-main);
}
/*Common styling for input lists*/
.inputList {
    background-color: var(--theme-light-light);
}
/*theme stylings*/
/*light theme*/
.theme-light.inputList{
    background-color: var(--theme-light-main);
    color: var(--theme-light-white);
}
/*Common styling for date inputs*/
.select {
    border: 2px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.select{
    border-color: var(--theme-light-main);
    color: var(--theme-light-main);
}
/*Common styling for tables*/
.table {
    border: 1px solid;
}
.table th {
    border: 1px solid;
}
/*theme stylings*/
/*light theme*/
.theme-light.table{
    background-color: var(--theme-light-main);
    color: var(--theme-light-white);
}
