:root{
    --theme-light-white: #fff6e4;
    --theme-light-light: #F1E7D4;
    --theme-light-light-alt: #99E1EB;
    --theme-light-main-alt: #BFC0C0;
    --theme-light-main: #EF8354;
    --theme-light-dark-alt: #EF8354;
    --theme-light-dark: #2D3142;
}

body {
    background-color: var(--theme-light-dark);
    color: var(--theme-light-dark);
}